* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:  'Gotham Black', sans-serif;
}
@import url('http://fonts.cdnfonts.com/css/gotham-black?styles=15539');

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.header {
    position: absolute;
    width: 100%;
    height: 90px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
}
.nav {
    width: 100%;
    height: 60px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#nav.active #menu {
    background-color: #000;
}
.menu {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 10px;
    margin-right: 10px;
    margin-left: 20%;
}
.menu li a {
    color: #f4f4f4;
}
.menu li a:visited {
    color: #f4f4f4;
}
.menu li a:active {
    color: #f4f4f4;
}
.menu li a:hover {
    color: #ffb612;
}

.menu__content {
    display: none;
    width: 500px;
    height: 700px;
    background-color: #f4f4f4;
    position: absolute;
    top: 0;
    right: 0;
    overflow: scroll;
}
.menu__content img {
    margin-top: 2rem;
    margin-left: 2rem;
}
.menu__content.change {
    display: block;
}
.menu2 li a{
    display: block;
    padding: 10px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    clear: both;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
    font-weight: 100;
    font-family: var(--roboto);
    text-align: left;

}
.menu2 li a:hover {
    color: #ffb612;
}

.menu2 {
    width: 300px;
    height: 700px;
    background-color: #fff;
    clear: both;
    max-height: 0;
    transition: .2s ease-out;

}
.duvidas img {
    width: 90px;
    margin: 0;

}
.duvidas p{
    font-size: .8rem;
}

.menu_icon {
    cursor: pointer;
    padding: 2px 2px;
    position: relative;
    user-select: none;
    margin-right: 80px;
}
.btn__menu {
    transform: translateY(-2px);
    text-align: center;
    display: block;
    width: 24px;
    height: 21px;
    margin-left: 1rem;
    border: none;
    border-radius: 2px;
}
.btn__menu:hover {
    background-color: #ffb612;
}
.btn__menu.change {
    width: 40px;
    height: 40px;
    z-index: 20;
    margin-left: 9rem;
}
.btn__menu p {
    color: transparent;
    position: absolute;
    font-size: 1.5rem;
}
.btn__menu.change:hover{
    background-color: #808080;
}
.btn__menu.change .dash {
    background: transparent;
}
.btn__menu.change p{
    padding-left: 12.5px;
    color: #000;
}
.dash {
    width: 24px;
    height: 5px;
    margin-bottom: 2px;
    background: rgb(0, 0, 0);
}

.link {
    color: #fff;
    list-style: none;
    font-weight: bold;
    margin-left: 15px;
    font-family: var(--roboto);
    font-size: 14px;
}

.link:hover {
    color: #ffb612;
    cursor: pointer;
}
.h2-pl {
    font-size: 2.7em;
    font-weight: 700;
    font-family: var(--gotham);
    color: #fff;

}
.menu_icon {
    background-color:#fff;
    width: 20px;
    height: 18px;
    border-radius: 2px;
    margin-left: 20px;
}
.hr {
    border: none;
}
.logo {
    width: 150px;
    height: 60px;
    margin-left: 30%;
}
.main {
    width: 100%;
    height: 50rem;
    background-color: rgba(0, 0, 0, 0.658);
    background-blend-mode: soft-light;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/smart/imagens/conceitosmart/bg.jpg");
}
.main__conteiner {
    width: 390px;
    height: 25rem;
    margin-left: 5%;
    text-align: center;
    padding-top: 15rem;
}
.main__conteiner span {
    color: #ffb612;

}
.main__conteiner h1 {
    color:#fff;
    margin-top: 4rem;
    font-size: 3.5rem;
}
.main__conteiner p {
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #fff;
    margin-top: 2rem;
    margin-left: 2.5rem;
}
.content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding-top: 4rem;
    padding-bottom: 6rem;
}



.cad__conteiner {
    width: 100%;
    height: 197px; 
    background-color: #f4f4f4;
}
.cad__content {
    width: 80%;
    height: auto;
    text-align: center;
    margin: 0 auto;
}
.cad__content h3 {
    padding: 2rem 0;
}
.cad__content input {
    width: 44%;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-right: none;
    background-color: #f4f4f4;
}
.cad__content button {
    width: 120px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left: none;
    background-color: #f4f4f4;
}
.acesso__conteiner {
    width: 100%;
    height: auto;
}
.acesso__content {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.acesso__text {
    width: 330px;
    margin: 4rem 0;
}
.acesso__text h2 {
    font-size: 2rem;
    font-weight: 200;
    color: rgba(0,0,0,0.7);
    margin-bottom: 1rem; 
}
.acesso__text p {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.8);
}
.produtos__conteiner {
    width: 100%;
    height: 560px;
    opacity: 1;
    background-color: #000;
}
.produtos__conteiner h2 {
    margin-left: 55%;
    padding-top: 12%;
    color: #ffb612;
    font-size: 3.2rem;
}
.produtos__conteiner p {
    color: #fff;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-left: 55%;
    margin-top: 2rem;
}
.equipa__conteiner {
    width: 100%;
    height: auto;
}
.equipa__content {
    width: 60%;
    margin-left: 10%;
    display: flex;
    justify-content: flex-start;
}
.equipa {
    width: 400px;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 5rem;
}
.equipa img {
    width: 100%;
}
.equipa h3 {
    font-size: 1.5rem;
    font-weight: 200;
    color:rgba(0, 0, 0, 0.8);
    margin: 1rem 2rem;
}
.equipa p {
    font-size: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.9);
}
.va__conteiner {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.va__content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.va__content h2 {
    font-size: 2rem;
    margin: 3rem;
}
.va__content p {
    margin-bottom: 5rem;
}
.icons__conteiner {
    width: 53%;
    margin: 0 auto;
    padding-bottom: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons__conteiner span {
    font-size:  .7rem;
    padding: 1rem;
    color: rgba(0, 0, 0, 0.8);
}
.comece__conteiner {
    width: 100%;
    text-align: center;
    background-color:rgb(31, 30, 30);
    padding-top: 4rem;
}
.comece__conteiner h2 {
    color: #ffb612;
    font-size: 3rem;
    margin: 2rem 0;
}
.comece__conteiner p {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 3rem
}
.icons__conteiner.b span {
    color: #fff;
    font-size: 1.5rem;
}
.comece__conteiner button {
    width: 180px;
    height: 71px;
    border: none;
    background-color: #ff0000;
    color: #fff;
    margin-bottom: 5rem;
}
.footer {
    width: 100%;
    height: auto;
    background-color: #202020;
    color: #bbb;
    font-family: var(--roboto);
}
.footer div {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.smart-links img{
    width: 16px;
}
.img_footer {
    padding: 2rem;
    width: 250px;
}
.footer ul {
    width: 200px;
    height: auto;
    color: #fff;
    margin: auto
}
.footer li {
    list-style: none;
}
.info__content {
    padding-top: 1rem;
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.hr__footer {
    border: 1px solid rgba(255,255,255,0.2);
    width: 1050px;
    margin: auto;
}
.footer__u {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    padding-top: 1rem;
}
.footer__u p {
    margin: 2rem;
    font-size: 0.7rem;
}
.hr__footer2 {
    display: none;
}
.footer ul li a {
    color: #f4f4f4;
}