* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--gotham);
    list-style: none;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('http://fonts.cdnfonts.com/css/gotham-black?styles=15539');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

:root {
    --roboto: 'Roboto', sans-serif;
    --gotham: 'Gotham Black', sans-serif;
    --black: 'Black Han Sans', sans-serif;
}
body {
    width: 100%;
    height: 100%;
}
.topbar__conteiner {
    width: 100%;
    height: 40px;
    background-color: #ffb612;
    text-align: center;

}
.topbar__conteiner h2 {
    font-size: .8rem;
    font-weight: 200;
    color: rgba(0,0,0,0.7);
    padding: .7rem;
}
.header__conteiner {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:#000;
}
.logoheader__conteiner {
    width: 24%;
    height: 30px;
}
.logoheader__conteiner img {
    width: 82%;
}
.pesquisa__conteiner {
    width: 30%;
    height: 30px;
    padding-left: .5rem;
}
.input.pesquisa {
    width: 275px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #000;
    transform: translateX(5px);
}
.input.pesquisa:focus {
    box-shadow: 0 0 10px #f4f4f4;
}
.button.pesquisa {
    width: 30px;
    height: 30px;
    transform: translateY(4.5px);
    border: none;
    background-color: #ffb612;
}
.button.pesquisa img {
    width: 20px;
    height: 20px;
}
.shop__conteiner {
    width: 16%;
    height: 20px;
    background-color: #000;
    border-radius: 50px
}
.shop__conteiner a {
    font-size: .8rem;
    color: #f4f4f4;
}
.nav__conteiner {
    width: 100%;
    height: 50px;
    background-color: #000;
}
.navlinks__ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navlinks__ul a {
    font-size: .8rem;
    font-weight: 700;
    margin: 0 .7rem;
    color: #f4f4f4;
}
.main__conteiner {
    width: 100%;
    height: 700px;

}
.main__conteiner img {
    width: 100%;
    height: auto;
    position: relative;
}
.main__img {
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/smart/imagens/clubesupps/smart-fit-supps-bg-1-scaled.webp");
}
.main__content {
    width: 40%;
    height: 400px;
    transform: translateY(10rem);
    margin: 0 5%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/smart/imagens/clubesupps/club_smartfitsupps.webp");
    position: absolute;
}
.main__log {
    width: 50%;
    height: 300px;
    transform: translateY(9rem);
    margin: 0 45%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/smart/imagens/clubesupps/smartfit-clube-logo.webp");
    position: absolute;
}
.main__conteiner p {
    color: #f4f4f4;
    position: absolute;
    transform: translateY( -4rem);
    text-align: center;
    margin-left: 25%;
}
.itens__conteiner {
    width: 100%;
    height: 800px;
    background-color:  rgb(27, 27, 27);
}
.cal {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
    padding-top: 4rem
}
.caltxt {
    display: flex;
    justify-content: space-evenly;
    width: 87%;
    margin: 0 auto;
    padding-top: 4rem
}
.caltxt span {
    width: 200px;
    color: #ffb612;
    font-size: 1.5rem;
    text-align: center;
}
.cal img {
    width: 10%;
}
.shak {
    width: 45%;
    margin: 0 auto;
}
.shak img {
    width: 100%;
}

.footer__conteiner {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#000;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.footer__content {
    width: 23%;
    margin-left: 2px;
    margin-right: 2px;
}
.footer__content img{
    width: 200px;
    margin-left: 2rem;
}
.footer__content li {
    list-style-type: none;
    padding: .5rem;
}
.footer__content a {
    font-size: 1rem;
    font-family: var(--gotham);
    font-weight: 500;
    color: #f4f4f4;
    text-decoration: none;
}
.footer__content span{
    color: #ffb612;

}
.direitos {
    width: 100%;
    background-color: #000;
    text-align: center;
}
.direitos p {
    font-size: .7rem;
    font-family: var(--gotham);
    font-weight: 500;
    color: #f4f4f4;
}