* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('http://fonts.cdnfonts.com/css/gotham-black?styles=15539');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
:root {
    --roboto: 'Roboto', sans-serif;
    --gotham: 'Gotham Black', sans-serif;
    --black: 'Black Han Sans', sans-serif;
}
.top__conteiner {
    width: 100%;
    height: auto;
    background-color: #ffb612;
    text-align: center;
}
.black20 {
    color: black;
    font-size: .9rem;
    font-weight: 200;
    font-family: var(--gotham);
    align-items: center;
    padding-top: .8rem;
}
.top__conteiner span {
    font-weight: 700;
}
.header__conteiner {
    width: 100%;
    height: 80px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.btn__menu {
    display: none;
}
.btn__close--menu {
    display: none;
}
.logo__conteiner {
    width: 25%;

}
.logo__conteiner img{
    width: 220px;
}
.pesquisa__conteiner {
    width: 25%;
    display: flex;
}
.input__pesquisa {
    width: 300px;
    height: 30px;
    border: 1px solid #bbb;
    color: #fff;
    font-size: .9rem;
    font-weight: 200;
    font-family: var(--gotham);
    background-color: #000000;
}
.input__pesquisa::placeholder {
    color: #f4f4f4;
}
.btn__pesquisa {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #ffb612;
}
.btn__pesquisa:hover {
    background-color: #c78b00;
}
.btn__pesquisa img {
    width: 70%;
}
.login__conteiner {
    width: 20%;
    display: flex;
}
.login__conteiner a,p {
    font-size: .8rem;
    font-weight: 200;
    font-family: var(--gotham);
    text-decoration: none;
    color: #f4f4f4;
}
.navbar {
    width: 100%;
    height: 60px;
    background-color: #000000;
}
.navbar__conteiner {
    width: 65%;
    margin: 0 auto;   
}
.links {
    width: 100%;
    padding-top: 1.3rem;
    display: flex;
    justify-content: space-evenly;
}
.links.change {
    display: block;
}
.link.home {
    display: none;
}
.link {
    list-style-type: none;

}
.link a {
    font-size: .8rem;
    font-weight: 600;
    font-family: var(--gotham);
    text-decoration: none;
    color: #f4f4f4;
}
.banner__conteiner {
    width: 100%;
    height: auto;
    background-color: #000;
}
.esquerda {
    position: absolute;
    top: 50%;
    left: 2%;
    z-index: 10;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    color: #ccc;
    opacity: .5;
    padding: 1rem;
}
.esquerda:hover{
    color: #000;
    opacity: 1;
    transition: .5s;
}
.direita {
    top: 50%;
    left: 96%;
    z-index: 10;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    position: absolute;
    color: #ccc;
    opacity: .5;
    padding: 1rem
}
.direita:hover {
    color: #000;
    opacity: 1;
    transition: .5s;
}
.slides {
    display: flex;
    overflow: hidden;
}

.imagem {
    width: 100%;
    height: 80%;
    opacity: 0;
    transition: all 1s;
    position: absolute;
}
#a0:checked {
    display: none;
}
.imagem.selected {
    transition: all 1s;
    opacity: 1;
}
#atual {
    margin-left: 0;
    transition: all 2s;
}
.balls {
    display: flex;
    z-index: 10;
    margin-top: 29rem;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}
.balls button {
    padding: 0px;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid #f4f4f4;
}
.imgAtual {
    background-color: #f4f4f4;
}
.promo__conteiner {
    width: 100%;
    height: auto;
    background-color: #000;
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-evenly;
}
.clube__conteiner {
    width: 27%;
    height: 50px;
    margin-left: 6%;
    background-color: #ccc;
    border-radius: 50px;
}
.star__conteiner {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #f4f4f4;
}
.star {
    width: 60%;
    margin: 10px 10px;
}
.descs {
    transform: translatey(-2.7rem);
    text-align: left;
}

.descs span {
    width: 300px;
    font-size: 1rem;
    font-family: var(--gotham);
    font-weight: 700;
    color: #000;
    margin-left: 4rem;
    
}
.descs p {
    font-size: 1rem;
    font-family: var(--gotham);
    margin-left: 4rem;
    color: #000;
}
.pd {
    margin-top: .6rem;
}
.entrega__conteiner {
    width: 27%;
    height: 50px;
    background-color: #ccc;
    border-radius: 50px;
}
.ent {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #f4f4f4;
}
.ent img {
    width: 60%;
    margin: 12px 10px;
}
.cash__conteiner {
    width: 27%;
    height: 50px;
    margin-right: 8%;
    background-color: #ccc;
    border-radius: 50px;
}
.coin {
    width: 50px;
    height: 50px;
    background-color: #f4f4f4;
    border-radius: 50px;
} 
.coin img {
    width: 60%;
    margin: 12px 10px;
}
.lancamentos__conteiner {
    width: 100%;
    height: 10rem;
    background-color: rgb(26, 25, 25);
}
.lancamentos__conteiner h2 {
    margin-left: 42.5%;
    padding-top: 2rem;
    color: #f4f4f4;
    font-size: 1.7rem;
    font-family: var(--gotham);
    font-weight: 500;
}
.produtos__conteiner {
    width: 100%;
    height: auto; 
    background-color: rgb(29, 29, 29);
}
.produtos__cards {
    width: 85%;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.card {
    width: 288px;
    margin-left: 1px;
    margin-right: 1px;
}
.produto__img {
    width: 290px;
    height: 345px;
    position: relative;
}
.img {
    width: 100%;
}
.img.front {
    width: 288px;
    margin-left: 1px;
    margin-right: 1px;
    opacity: 1;
    transition: 1s;
}
.img.front:hover {
    opacity: 0;


}
.img--f {
    position: absolute;
    z-index: 10;
}
.img--b {
    position: absolute;
    z-index: 0;
}
.img.back {
    width: 288px;
    height: 345px;
    position: absolute;
    left: 0;

}
.produto__desc {
    width: 288px;
    height: 176px;
}
.produto__desc span {
    font-size: .7rem;
    font-family: var(--gotham);
    font-weight: 800;
    color: #ffb612;
}
.produto__desc h5 {
    font-size: .9rem;
    font-family: var(--gotham);
    font-weight: 800;
    color: #f4f4f4;
}
.produto__desc div {
    padding: 2rem;
}
.produto__desc h4 {
    font-size: 1.6rem;
    font-family: var(--gotham);
    font-weight: 700;
    color: #ffb612;
}
.produto__desc h6 {
    font-size: .7rem;
    font-family: var(--gotham);
    font-weight: 800;
    color: #f4f4f4;
}
.produto__desc p {
    font-size: .7rem;
    font-family: var(--gotham);
    font-weight: 500;
    color: #f4f4f4;
}
.categorias__conteiner {
    width: 100%;
    height: auto;
    background-color:rgb(29, 29, 29);
}
.categorias__conteiner h2 {
    font-size: 2rem;
    font-family: var(--gotham);
    font-weight: 500;
    color: #f4f4f4;
    padding-left: 35%;
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.categorias__content {
    width: 100%;
    height: auto;
    background-color: rgb(29, 29, 29);
    padding-bottom: 4.5rem;
    display: flex;
    justify-content: center;
}
.card__conteiner {
    width: 288px;
    height: 259px;
    margin-left: 2px;
    margin-right: 2px;
}
.card__conteiner:hover {
    transform: translateY(-5px);
}
.card__conteiner img {
    width: 100%;
    height: auto;
}
.desc {
    text-align: center;
    font-size: 1rem;
    font-family: var(--gotham);
    font-weight: 600;
    width: 288px;
    height: 50px;
    background-color: #ffb612;
    border: none;
    margin-top: -10px;
    margin-bottom: 30px;
}
.desc:hover {
    transform: translateY(-25px);
    transition: all .5s;
}
.desc:hover ~ .card__conteiner{
    transform: translateY(-35px);
}
.conteiner__info--smart {
    width: 100%;
    height: auto;
    background-color: #000;
    display: flex;
    justify-content: center;
}
.info {
    width: 23%;

}
.info img {
    width: 30%;
}
.info h4 {
    font-size: 1rem;
    font-family: var(--gotham);
    font-weight: 600;
    color: #f4f4f4;
    transform: translateY(-4rem);
    padding-left: 6rem;
}
.conteudos__conteiner {
    width: 100%;
    height: 440px;

}
.conteudos__conteiner img {
    width: 100%;
}
.conteudos__conteiner {
    text-align: center;
}
.conteudos__conteiner h2 {
    font-size: 2rem;
    font-family: var(--gotham);
    font-weight: 600;
    color: #f4f4f4;
    transform: translateY(-19rem);
}
.conteudos__conteiner p {
    font-size: 1rem;
    font-family: var(--gotham);
    font-weight: 500;
    color: #f4f4f4;
    transform: translateY(-18rem);
}
.email__conteiner {
    width: 100%;
    height: auto;
    background-color: #000;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.conteudos__conteiner input {
    font-size: 1rem;
    font-family: var(--gotham);
    font-weight: 600;
    color: #f4f4f4;
    width: 500px;
    height: 40px;
    border: none;
    background-color: rgb(51, 51, 51);
    margin-left: 1%;
    transform: translateY(-16rem);
}
.conteudos__conteiner button {
    width: 100px;
    height: 40px;
    border: none;
    background-color: #ffb612;
    transform: translateY(-16rem);
}
.footer__conteiner {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#000;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.footer__content {
    width: 23%;
    margin-left: 2px;
    margin-right: 2px;
}
.footer__content img{
    width: 200px;
    margin-left: 2rem;
}
.footer__content li {
    list-style-type: none;
    padding: .5rem;
}
.footer__content a {
    font-size: 1rem;
    font-family: var(--gotham);
    font-weight: 500;
    color: #f4f4f4;
    text-decoration: none;
}
.footer__content span{
    color: #ffb612;

}
.direitos {
    width: 100%;
    background-color: #000;
    text-align: center;
}
.direitos p {
    font-size: .7rem;
    font-family: var(--gotham);
    font-weight: 500;
    color: #f4f4f4;
}

@media screen and (max-width: 1000px) {
    .input__pesquisa {
        display: none;
    }
    .btn__pesquisa {
        background-color: transparent;
        margin-left: 70%;
    }
    .login__conteiner {
        display: none;
    }
    .btn__menu{
        width: 20px;
        height: 21px;
        display: block;
    }
    .dash {
        width: 20px;
        height: 5px;
        background-color: #000;
        margin-bottom: 2px;
        margin-left: -2px
    }
    .navbar {
        display: none;
    }
    .promo__conteiner {
        display: block;
    }
    .clube__conteiner {
        width: 90%;
        margin-bottom: 1rem
    }
    .entrega__conteiner {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }
    .cash__conteiner {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }
    .lancamentos__conteiner h2 {
        font-size: 1.4rem;
        margin-left: 30%;
    }
}