* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('http://fonts.cdnfonts.com/css/gotham-black?styles=15539');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
:root {
    --roboto: 'Roboto', sans-serif;
    --gotham: 'Gotham Black', sans-serif;
    --black: 'Black Han Sans', sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: #202020;
}
.nav {
    width: 100vw;
    height: 98px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 20px;
    margin-right: 20px;
}
.menu_icon:hover {
    background-color: #ffb612;
    cursor: pointer;
}
.link {
    color: #fff;
    list-style: none;
    font-weight: bold;
    margin-left: 15px;
    font-family: var(--roboto);
    font-size: 14px;
}
.link:hover {
    color: #ffb612;
    cursor: pointer;
}
.menu_icon {
    
}
.h2-pl {
    font-size: 2.7em;
    font-weight: 700;
    font-family: var(--gotham);
    color: #fff;

}
.menu_icon {
    background-color:#fff;
    width: 25px;
    height: 30px;
    border-radius: 2px;
    margin-left: 20px;
}
hr {
    border: none;
}
.logo {
    width: 150px;
    height: 60px;
    margin-left: 19px;
}
.home {
    width: 100vw;
    height: 600px;
    background-size: cover;
}
.bg {
    width: 100%;
    height: 100%;
}
.planos {
    width: 100vw;
    height: 1090px;
    background: #202020;
    padding-top: 40px;
    align-items: center;
    align-content: center;
}
.desc_plano {
    margin: auto;
    max-width: 80%;
    height: 155px;
    text-align: center;
    align-items: center;
}
.h2-black {
    font-size: 2.7em;
    font-weight: 700;
    font-family: var(--gotham);
    color: #ffb612;
    padding: 0.5rem
}
.h2-smart {
    padding: 0.5rem;
    font-size: 2.7em;
    font-weight: 700;
    font-family: var(--gotham);
    color:#212529
}
span {
    color: #fff;
}
 .dec{

    font-size: 1.3em;
    font-family: var(--gotham);
    color: #fff;
}

.hr {
    padding-top: 2rem;
}



.cards--conteiner {
    width: 700px;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.card_plano {
    width: 300px;
    height: 795.17px;
    background-color: #fff;
}

.pp {
    font-size: .9em;
    margin-left: 9px;
    color:#fff;
    font-family: var(--gotham);
}

.card-1-tagv {
    width: 140px;
    height: 28px;
    display: flex;
    align-items: center;
    background-color: #d52b1e;
    position: absolute;
    margin-left: 170px;
    margin-top: -15px;
}
.card-1-top {
    width: 300px;
    height: 116px;
    background-color: #000;
    text-align: center;
    align-content: center;
}
.card-1-preço {
    background-color: #ffb612;
    margin: auto;
    width: 230px;
    height: 80px;
    text-align: center;
    align-items: center;
}
.card-2-top {
    width: 300px;
    height: 116px;
    background-color: #ffb612;
    text-align: center;
    align-content: center;
}
.card-2-preço {
    background-color: #000000;
    color: #ffb612;
    margin: auto;
    width: 230px;
    height: 80px;
    text-align: center;
    align-items: center;
}
.p {
    padding-top: 20px;
    font-size: 19px;
    font-weight: 600;
    font-family: var(--gotham);
    color: #fff;
}
.spn {
    font-family: var(--gotham);
    font-weight: 600;
    padding-top: 10px;
    font-size: 1rem;
}
.h3 {
    font-size: 2.3rem;
    font-family: var(--gotham);
}

li {
    list-style: none;
    text-align: center;
    margin: 20px 0;
    font-family: var(--gotham);
}
.li-1 {
    font-size: 1.2em;
    color: #212529
}
.li-d {
    color: #808080;
    font-size: 14px;
    font-weight: 600;
}
.li-2 {
    color: #212529;
    font-size: 1em;
    font-weight: 600;
}
.button {
    width: 200px;
    height: 60px;
    font-size: 1.1rem;
    background-color: #d52b1E;
    border: none;
    color: #fff;
    bottom: 0px;
}
#btn1 {
    padding-top: 2rem;
}
#btn2 {
    padding-top: 10rem;
}
.card--desc {
    margin: auto;
    width: 260px;
    margin-top: 5rem;
}
.hr-card {
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.app {
    width: 100%;
    height: 750px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
}
.conteiner-app-desc {
    width: 35%;
    height: auto;
    text-align: left;
    margin-top: 6rem;
}
.h2-app-desc {
    font-size: 2.1rem;
    line-height: 2.3rem;
    font-family: var(--gotham);
    font-weight: 800;
}
.conteiner-app-desc p {
    padding-top: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: var(--gotham);

}
.div-links-app {
    display: flex;
    margin-top: 1rem;
}
.link-app {
    display: grid;
    margin-left:  1rem;
    margin-top: 3px;
}
h5 {
    margin-top: 3rem;
    font-family: var(--gotham);
    font-weight: 800;
}
.appstore {
    margin-top: 1rem;
}
.cards__services--conteiner {
    width: 100%;
    height: 600px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__services {
    width: 280px;
    height: 450px;
    border-radius: 20px;
    background-color: #000;
    align-content: center;
}
.card__services--scroll {
    width: 90%;
    height: 500px;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    overflow-x: auto;
    overflow-y: hidden;
}
.img-card {
    width: 280px;
    height: 450px;
    object-fit: fill;
    border-radius: 20px;
    
}
.preco__card {
    width: 140px;
    position:  absolute;
    transform: translateY(-16rem);
    background-color: #000;
    color: #ffb612;
    font-family: var(--gotham);
    font-size: .8rem;
    font-weight: 600;
    margin-left: 140px;
    padding-left: 10px;
}
.preco__card {

}
.texto__card {
    width: 280px;
    height: 190px;
    display: grid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    transform: translateY(-12rem);
    text-align: left;
    color: #fff;
    font-family: var(--gotham);
    font-size: 1rem;
    font-weight: 500;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(0deg, rgba(0,0,0,0.9094012605042017) 0%, rgba(0,0,0,0.6488970588235294) 45%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.9094012605042017) 0%, rgba(0,0,0,0.6488970588235294) 45%, rgba(255,255,255,0) 100%);
    background: linear-gradient(0deg, rgba(0,0,0,0.9094012605042017) 0%, rgba(0,0,0,0.6488970588235294) 45%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}
.texto__card h2 {
    margin-left: 20px;

    
}
.texto__card p {
    margin-left: 20px;

}
.btn__cards {
    margin: auto;
    width: auto;
    padding: .7rem;
    color: #202020;
    background-color: #ffb612;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}
.covid {
    width: 100%;
    height: 680px;
    background-color: #fff;
    text-align: center;
}
.covid-conteiner {
    width: 95%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}
.covid-conteiner h2 {
    font-family: var(--gotham);
    font-size: 1.2rem;
    margin-top: 20px;
}
.card__covid {
    width: 190px;
    height: 320px;
    background-color: #ffb612;
    margin-left: auto;
    margin-right: auto;
}
.card__covid img {
    width: 100px;
    height: 100px;
    margin: 1.5rem;
}
.card__covid p {
    font-weight: 400;
    font-family: var(--roboto);
    font-size: .9rem;
}
.h2-covid {
    font-size: 2rem;
    font-weight: 900;
    font-family: var(--gotham);
    padding: 1rem;
}
.h3-covid {
    font-family: var(--roboto);
    color: #212529;
    margin: 1rem;
}
.btn__covid {
    width: 230px;
    height: 50px;
    color: #fff;
    background-color: #d52b1e;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 600;
}
.cov {
    color: #ffb612;
}
.ecosistema {
    width: 100%;
    height: 1000px;
    background-color: #fff;
    align-items: center;
    text-align: center;
}
.ecossistema__conteiner {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}
.ecossistemas__content {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    max-width: 200px;
    margin: 1rem;
}
.desc__area {
    width: 400px;
    position: absolute;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--gotham);
    margin-top: -2rem;
}
.img-ecossistema {
    width: 400px;
}

.receba-email {
    text-align: center;
    width: 100%;
    height: 200px;
    background-color: rgb(250, 250, 250);
}

.receba-email h3 {
    font-family: var(--gotham);
    padding-bottom: 2rem;
    padding-top: 4rem;
    font-weight: 300;
    font-size: 1.1rem;
}

.receba-email input {
    width: 500px;
    height: 60px;
    border: none;
    font-size: 1.3rem;
}

.receba-email button {
    width: 100px;
    height: 60px;
    border: none;
    font-family: var(--gotham);
    background-color: rgb(220, 220, 220);
    margin-left: -3px;;
}

.footer {
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #202020;
    color: #bbb;
    font-family: var(--roboto);
}

.img_footer {
    margin-top: 1rem;
    margin-left: 40%;
    width: 120px;
    height: 60px;
}

.footer ul {
    width: 300px;
    height: 400px;
    color: #fff;
}

.info__content {
    width: 100%;
    display: flex;
}